.reserva {
  padding-bottom: 80px;
}

.reserva h2 {
  padding-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.reserva p {
  margin-bottom: 32px;
}

.reserva div img {
  margin-left: auto;
  margin-right: auto;
}

.reserva a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reserva img {
  margin: 20px 0 40px;
}

@media (max-width: 1200px) {
  .reserva {
    padding-bottom: 60px;
  }
  .reserva h2 {
    padding-top: 60px;
    font-size: 2rem;
    margin-bottom: 32px;
  }
  .reserva p {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .reserva {
    padding-bottom: 40px;
  }
  .reserva h2 {
    font-size: 1.5rem;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .reserva p {
    font-size: 1rem;
    margin-bottom: 12px;
  }
}
