body {
  margin: 0px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p,
ul,
span {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-2);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}
