.header-bg {
  background: var(--cor-16);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
}

.header-menu a::before {
  content: "";
  display: block;
  margin-left: -8px;
  margin-top: 1px;
  width: 0px;
  height: 16px;
  position: absolute;
  background: linear-gradient(#e94545, #a10a0e);
  border-radius: 2px 0px 0px 2px;
  transition: 0.3;
}

.header-menu a:hover:before {
  width: 4px;
}

@media (max-width: 1000px) {
  .header {
    display: grid;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    padding: 16px 32px;
    background-color: var(--cor-5);
    border-radius: 4px;
    color: var(--cor-10);
  }
  .header-menu a:hover {
    background-color: var(--cor-2);
    color: var(--cor-15);
  }
  .header-menu a::before {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}
